<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Meu Perfil</title>
        <style>
            body { font-family: sans-serif; margin: 40px; }
            .card { border: 1px solid #ccc; padding: 20px; border-radius: 8px; max-width: 400px; }
            h1 { color: #2c3e50; }
        </style>
        <script src="/static/script.js"></script>
    </head>
    <body>
        <div class="card">
            <h1>Perfil de {{ nome }}</h1>
            <hr>
            <p><strong>Bio:</strong></p>
            <p>{{ bio }}</p>
            
            
        </div>

    </body>
</html>